@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-base text-dark;
}

:root {
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.disabled {
	cursor: default;
	pointer-events: none;
	text-decoration: none;
	opacity: 0.2 !important;
}
